name: SharedStagePush
run-name: "SharedStagePush ${{ github.event.number }} (${{ github.event.action }}) by ${{ github.actor }}"
on:
  workflow_call:

permissions:
  actions: read
  checks: read
  contents: read
  issues: read
  pull-requests: write
  repository-projects: read
  statuses: read

env:
  LOCAL_HEAD: ${{ github.ref }}
  LOCAL_BASE: ${{ endsWith(github.ref,'1') && 'release/1' ||
                  endsWith(github.ref,'2') && 'release/2' ||
                  endsWith(github.ref,'3') && 'release/3' ||
                  'release/0' }}
    
jobs:
  MakePR:
    name: Auto make PR
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}

      - name: Make Pull Request
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh pr create \
            --head="${LOCAL_HEAD}" \
            --base="${LOCAL_BASE}" \
            --title="Pulling ${LOCAL_HEAD} into ${LOCAL_BASE}" \
            --body="An automated PR generated by a push to a staging branch"
